*.exe
*.sdf
Release/
Debug/
*.log
*.opensdf
*.suo
obj/
pkg/
.vs/
thirdparty/opencv
thirdparty/brpc
thirdparty
docker/brpc_opencv_ffmpeg/package
benchmark/tmp/
docker/gosun_netlib_sdk/sdk/
docker/gosun_sdk/sdk/
docker/seemmo_sdk/sdk/